@model My.IOC.Web.Models.Customer

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="form-control">
            <div class="col-md-4">
                ID:
                @Html.TextBoxFor(mdl => mdl.Id, new { @type = "number", max = "90", min = "1", style = "width: 190px" })
            </div>
            <div class="col-md-4">
                Name:
                @Html.TextBoxFor(mdl => mdl.CustomerName, new { @type = "string", max = "90", min = "1", style = "width: 190px" })

            </div>
        </div>
    </div>
    </div>
